<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project3">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustUnspecified"
            android:screenOrientation="portrait"
            android:parentActivityName=".SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="www.youtube.com" android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Genre.Genre"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.SlidrActivityTheme">

        </activity>

        <activity
            android:name=".Comment.CommentActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.SlidrActivityTheme">
        </activity>

        <activity
            android:name=".PostingVideo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Login.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="Sign up"
            android:windowSoftInputMode="adjustUnspecified"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>